@keyframes anime {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 20px;
  }
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#logo_s {
  box-shadow: 30px 10px 0 0 #000, 40px 10px 0 0 #000, 50px 10px 0 0 #000,
    60px 10px 0 0 #000, 70px 10px 0 0 #000, 80px 10px 0 0 #000,
    90px 10px 0 0 #000, 30px 20px 0 0 #000, 40px 20px 0 0 #000,
    50px 20px 0 0 #000, 60px 20px 0 0 #000, 70px 20px 0 0 #000,
    80px 20px 0 0 #000, 90px 20px 0 0 #000, 30px 30px 0 0 #000,
    40px 30px 0 0 #000, 80px 30px 0 0 #000, 90px 30px 0 0 #000,
    30px 40px 0 0 #000, 40px 40px 0 0 #000, 80px 40px 0 0 #000,
    30px 50px 0 0 #000, 40px 50px 0 0 #000, 30px 60px 0 0 #000,
    40px 60px 0 0 #000, 50px 60px 0 0 #000, 60px 60px 0 0 #000,
    70px 60px 0 0 #000, 80px 60px 0 0 #000, 90px 60px 0 0 #000,
    100px 60px 0 0 #000, 90px 70px 0 0 #000, 100px 70px 0 0 #000,
    10px 80px 0 0 #000, 90px 80px 0 0 #000, 100px 80px 0 0 #000,
    10px 90px 0 0 #000, 20px 90px 0 0 #000, 30px 90px 0 0 #000,
    40px 90px 0 0 #000, 50px 90px 0 0 #000, 60px 90px 0 0 #000,
    70px 90px 0 0 #000, 80px 90px 0 0 #000, 90px 90px 0 0 #000,
    100px 90px 0 0 #000, 10px 100px 0 0 #000, 20px 100px 0 0 #000,
    30px 100px 0 0 #000, 40px 100px 0 0 #000, 50px 100px 0 0 #000,
    60px 100px 0 0 #000, 70px 100px 0 0 #000, 80px 100px 0 0 #000,
    90px 100px 0 0 #000, 100px 100px 0 0 #000;
  height: 9px;
  width: 9px;
}

#logo_c {
  box-shadow: 20px 40px 0 0 #000, 30px 40px 0 0 #000, 40px 40px 0 0 #000,
    50px 40px 0 0 #000, 60px 40px 0 0 #000, 70px 40px 0 0 #000,
    80px 40px 0 0 #000, 90px 40px 0 0 #000, 20px 50px 0 0 #000,
    30px 50px 0 0 #000, 40px 50px 0 0 #000, 50px 50px 0 0 #000,
    60px 50px 0 0 #000, 70px 50px 0 0 #000, 80px 50px 0 0 #000,
    90px 50px 0 0 #000, 20px 60px 0 0 #000, 30px 60px 0 0 #000,
    90px 60px 0 0 #000, 20px 70px 0 0 #000, 30px 70px 0 0 #000,
    20px 80px 0 0 #000, 30px 80px 0 0 #000, 20px 90px 0 0 #000,
    30px 90px 0 0 #000, 40px 90px 0 0 #000, 50px 90px 0 0 #000,
    60px 90px 0 0 #000, 70px 90px 0 0 #000, 80px 90px 0 0 #000,
    90px 90px 0 0 #000, 20px 100px 0 0 #000, 30px 100px 0 0 #000,
    40px 100px 0 0 #000, 50px 100px 0 0 #000, 60px 100px 0 0 #000,
    70px 100px 0 0 #000, 80px 100px 0 0 #000, 90px 100px 0 0 #000;
  height: 9px;
  width: 6px;
  margin-left: 45px;
  top: 14px;
  position: relative;
}

#logo_r {
  box-shadow: 30px 40px 0 0 #000, 40px 40px 0 0 #000, 30px 50px 0 0 #000,
    40px 50px 0 0 #000, 50px 50px 0 0 #000, 60px 50px 0 0 #000,
    70px 50px 0 0 #000, 80px 50px 0 0 #000, 90px 50px 0 0 #000,
    30px 60px 0 0 #000, 40px 60px 0 0 #000, 50px 60px 0 0 #000,
    90px 60px 0 0 #000, 30px 70px 0 0 #000, 40px 70px 0 0 #000,
    30px 80px 0 0 #000, 40px 80px 0 0 #000, 30px 90px 0 0 #000,
    40px 90px 0 0 #000, 30px 100px 0 0 #000, 40px 100px 0 0 #000;
  height: 10px;
  width: 10px;
  margin-left: 33px;
}

#logo_i {
  box-shadow: 60px 30px 0 0 #000, 50px 50px 0 0 #000, 60px 50px 0 0 #000,
    60px 60px 0 0 #000, 60px 70px 0 0 #000, 60px 80px 0 0 #000,
    60px 90px 0 0 #000, 50px 100px 0 0 #000, 60px 100px 0 0 #000;
  height: 10px;
  width: 10px;
  margin-left: 8px;
  position: relative;
  top: 8px;
}

#logo_p {
  box-shadow: 40px 40px 0 0 #000, 50px 40px 0 0 #000, 60px 40px 0 0 #000,
    70px 40px 0 0 #000, 80px 40px 0 0 #000, 90px 40px 0 0 #000,
    40px 50px 0 0 #000, 50px 50px 0 0 #000, 100px 50px 0 0 #000,
    40px 60px 0 0 #000, 50px 60px 0 0 #000, 100px 60px 0 0 #000,
    40px 70px 0 0 #000, 50px 70px 0 0 #000, 60px 70px 0 0 #000,
    70px 70px 0 0 #000, 80px 70px 0 0 #000, 90px 70px 0 0 #000,
    100px 70px 0 0 #000, 40px 80px 0 0 #000, 50px 80px 0 0 #000,
    40px 90px 0 0 #000, 50px 90px 0 0 #000, 40px 100px 0 0 #000,
    50px 100px 0 0 #000;
  height: 7px;
  width: 10px;
  margin-left: -5px;
}

#logo_t {
  box-shadow: 50px 30px 0 0 #000, 60px 30px 0 0 #000, 50px 40px 0 0 #000,
    60px 40px 0 0 #000, 30px 50px 0 0 #000, 40px 50px 0 0 #000,
    50px 50px 0 0 #000, 60px 50px 0 0 #000, 70px 50px 0 0 #000,
    80px 50px 0 0 #000, 90px 50px 0 0 #000, 50px 60px 0 0 #000,
    60px 60px 0 0 #000, 50px 70px 0 0 #000, 60px 70px 0 0 #000,
    50px 80px 0 0 #000, 60px 80px 0 0 #000, 50px 90px 0 0 #000,
    60px 90px 0 0 #000, 50px 100px 0 0 #000, 60px 100px 0 0 #000,
    70px 100px 0 0 #000;
  height: 9px;
  width: 6px;
  margin-left: 40px;
  position: relative;
  top: -10px;
}

#logo_j {
  box-shadow: 80px 10px 0 0 #000, 90px 10px 0 0 #000, 100px 10px 0 0 #000,
    80px 20px 0 0 #000, 90px 20px 0 0 #000, 80px 30px 0 0 #000,
    90px 30px 0 0 #000, 80px 40px 0 0 #000, 90px 40px 0 0 #000,
    80px 50px 0 0 #000, 90px 50px 0 0 #000, 10px 60px 0 0 #000,
    20px 60px 0 0 #000, 80px 60px 0 0 #000, 90px 60px 0 0 #000,
    10px 70px 0 0 #000, 20px 70px 0 0 #000, 80px 70px 0 0 #000,
    90px 70px 0 0 #000, 20px 80px 0 0 #000, 30px 80px 0 0 #000,
    80px 80px 0 0 #000, 90px 80px 0 0 #000, 20px 90px 0 0 #000,
    30px 90px 0 0 #000, 40px 90px 0 0 #000, 50px 90px 0 0 #000,
    60px 90px 0 0 #000, 70px 90px 0 0 #000, 80px 90px 0 0 #000,
    90px 90px 0 0 #000, 30px 100px 0 0 #000, 40px 100px 0 0 #000,
    50px 100px 0 0 #000, 60px 100px 0 0 #000, 70px 100px 0 0 #000,
    80px 100px 0 0 #000;
  height: 10px;
  width: 10px;
  margin-left: 80px;
  position: relative;
  top: -8px;
}

#logo_o {
  box-shadow: 40px 50px 0 0 #000, 50px 50px 0 0 #000, 60px 50px 0 0 #000,
    70px 50px 0 0 #000, 30px 60px 0 0 #000, 40px 60px 0 0 #000,
    70px 60px 0 0 #000, 80px 60px 0 0 #000, 30px 70px 0 0 #000,
    80px 70px 0 0 #000, 30px 80px 0 0 #000, 80px 80px 0 0 #000,
    30px 90px 0 0 #000, 40px 90px 0 0 #000, 70px 90px 0 0 #000,
    80px 90px 0 0 #000, 40px 100px 0 0 #000, 50px 100px 0 0 #000,
    60px 100px 0 0 #000, 70px 100px 0 0 #000;
  height: 8px;
  width: 10px;
  margin-left: 25px;
}

#logo_c2 {
  box-shadow: 30px 40px 0 0 #000, 40px 40px 0 0 #000, 50px 40px 0 0 #000,
    60px 40px 0 0 #000, 70px 40px 0 0 #000, 80px 40px 0 0 #000,
    30px 50px 0 0 #000, 40px 50px 0 0 #000, 50px 50px 0 0 #000,
    60px 50px 0 0 #000, 70px 50px 0 0 #000, 80px 50px 0 0 #000,
    30px 60px 0 0 #000, 80px 60px 0 0 #000, 30px 70px 0 0 #000,
    30px 80px 0 0 #000, 30px 90px 0 0 #000, 40px 90px 0 0 #000,
    50px 90px 0 0 #000, 60px 90px 0 0 #000, 70px 90px 0 0 #000,
    80px 90px 0 0 #000, 30px 100px 0 0 #000, 40px 100px 0 0 #000,
    50px 100px 0 0 #000, 60px 100px 0 0 #000, 70px 100px 0 0 #000,
    80px 100px 0 0 #000;
  height: 10px;
  width: 7px;
  margin-left: 15px;
}

#logo_k {
  box-shadow: 20px 10px 0 0 #000, 30px 10px 0 0 #000, 20px 20px 0 0 #000,
    30px 20px 0 0 #000, 20px 30px 0 0 #000, 30px 30px 0 0 #000,
    20px 40px 0 0 #000, 30px 40px 0 0 #000, 20px 50px 0 0 #000,
    30px 50px 0 0 #000, 50px 50px 0 0 #000, 60px 50px 0 0 #000,
    20px 60px 0 0 #000, 30px 60px 0 0 #000, 40px 60px 0 0 #000,
    50px 60px 0 0 #000, 20px 70px 0 0 #000, 30px 70px 0 0 #000,
    40px 70px 0 0 #000, 20px 80px 0 0 #000, 30px 80px 0 0 #000,
    40px 80px 0 0 #000, 50px 80px 0 0 #000, 20px 90px 0 0 #000,
    30px 90px 0 0 #000, 50px 90px 0 0 #000, 60px 90px 0 0 #000,
    20px 100px 0 0 #000, 30px 100px 0 0 #000, 60px 100px 0 0 #000,
    70px 100px 0 0 #000;
  height: 9px;
  width: 9px;
}

#logo_e {
  box-shadow: 30px 50px 0 0 #000, 40px 50px 0 0 #000, 50px 50px 0 0 #000,
    60px 50px 0 0 #000, 70px 50px 0 0 #000, 80px 50px 0 0 #000,
    30px 60px 0 0 #000, 80px 60px 0 0 #000, 30px 70px 0 0 #000,
    40px 70px 0 0 #000, 50px 70px 0 0 #000, 60px 70px 0 0 #000,
    70px 70px 0 0 #000, 80px 70px 0 0 #000, 30px 80px 0 0 #000,
    30px 90px 0 0 #000, 80px 90px 0 0 #000, 90px 90px 0 0 #000,
    30px 100px 0 0 #000, 40px 100px 0 0 #000, 50px 100px 0 0 #000,
    60px 100px 0 0 #000, 70px 100px 0 0 #000, 80px 100px 0 0 #000;
  height: 7px;
  width: 7px;
  margin-left: 10px;
  position: relative;
  top: 10px;
}

#logo_y {
  box-shadow: 30px 30px 0 0 #000, 70px 30px 0 0 #000, 80px 30px 0 0 #000,
    30px 40px 0 0 #000, 70px 40px 0 0 #000, 80px 40px 0 0 #000,
    30px 50px 0 0 #000, 40px 50px 0 0 #000, 50px 50px 0 0 #000,
    60px 50px 0 0 #000, 70px 50px 0 0 #000, 80px 50px 0 0 #000,
    70px 60px 0 0 #000, 80px 60px 0 0 #000, 70px 70px 0 0 #000,
    80px 70px 0 0 #000, 70px 80px 0 0 #000, 80px 80px 0 0 #000,
    50px 90px 0 0 #000, 60px 90px 0 0 #000, 70px 90px 0 0 #000,
    40px 100px 0 0 #000, 50px 100px 0 0 #000;
  height: 9px;
  width: 9px;
  margin-left: 25px;
  position: relative;
  top: 6px;
}

/* #logo_record {
  box-shadow: 4px 4px 0 0 #000, 8px 4px 0 0 #000, 12px 4px 0 0 #000, 16px 4px 0 0 #000, 20px 4px 0 0 #000, 24px 4px 0 0 #000, 40px 4px 0 0 #000, 44px 4px 0 0 #000, 48px 4px 0 0 #000, 52px 4px 0 0 #000, 56px 4px 0 0 #000, 60px 4px 0 0 #000, 4px 8px 0 0 #000, 8px 8px 0 0 #000, 12px 8px 0 0 #000, 16px 8px 0 0 #000, 48px 8px 0 0 #000, 52px 8px 0 0 #000, 56px 8px 0 0 #000, 60px 8px 0 0 #000, 4px 12px 0 0 #000, 8px 12px 0 0 #000, 12px 12px 0 0 #000, 20px 12px 0 0 #000, 24px 12px 0 0 #000, 28px 12px 0 0 #000, 52px 12px 0 0 #000, 56px 12px 0 0 #000, 60px 12px 0 0 #000, 4px 16px 0 0 #000, 8px 16px 0 0 #000, 16px 16px 0 0 #000, 20px 16px 0 0 #000, 56px 16px 0 0 #000, 60px 16px 0 0 #000, 4px 20px 0 0 #000, 12px 20px 0 0 #000, 16px 20px 0 0 #000, 24px 20px 0 0 #000, 28px 20px 0 0 #000, 60px 20px 0 0 #000, 4px 24px 0 0 #000, 12px 24px 0 0 #000, 20px 24px 0 0 #000, 24px 24px 0 0 #000, 60px 24px 0 0 #000, 12px 28px 0 0 #000, 20px 28px 0 0 #000, 32px 28px 0 0 #000, 36px 28px 0 0 #000, 28px 32px 0 0 #000, 36px 32px 0 0 #000, 28px 36px 0 0 #000, 32px 36px 0 0 #000, 4px 40px 0 0 #000, 60px 40px 0 0 #000, 4px 44px 0 0 #000, 60px 44px 0 0 #000, 4px 48px 0 0 #000, 8px 48px 0 0 #000, 56px 48px 0 0 #000, 60px 48px 0 0 #000, 4px 52px 0 0 #000, 8px 52px 0 0 #000, 12px 52px 0 0 #000, 52px 52px 0 0 #000, 56px 52px 0 0 #000, 60px 52px 0 0 #000, 4px 56px 0 0 #000, 8px 56px 0 0 #000, 12px 56px 0 0 #000, 16px 56px 0 0 #000, 48px 56px 0 0 #000, 52px 56px 0 0 #000, 56px 56px 0 0 #000, 60px 56px 0 0 #000, 4px 60px 0 0 #000, 8px 60px 0 0 #000, 12px 60px 0 0 #000, 16px 60px 0 0 #000, 20px 60px 0 0 #000, 24px 60px 0 0 #000, 40px 60px 0 0 #000, 44px 60px 0 0 #000, 48px 60px 0 0 #000, 52px 60px 0 0 #000, 56px 60px 0 0 #000, 60px 60px 0 0 #000;
  height: 4px;
  width: 4px;
}
*/

#input_script {
  box-shadow: 28px 7px 0 0 #000, 35px 7px 0 0 #000, 42px 7px 0 0 #000,
    49px 7px 0 0 #000, 56px 7px 0 0 #000, 63px 7px 0 0 #000, 70px 7px 0 0 #000,
    77px 7px 0 0 #000, 84px 7px 0 0 #000, 91px 7px 0 0 #000, 98px 7px 0 0 #000,
    105px 7px 0 0 #000, 112px 7px 0 0 #000, 119px 7px 0 0 #000,
    126px 7px 0 0 #000, 133px 7px 0 0 #000, 140px 7px 0 0 #000,
    147px 7px 0 0 #000, 154px 7px 0 0 #000, 161px 7px 0 0 #000,
    168px 7px 0 0 #000, 175px 7px 0 0 #000, 182px 7px 0 0 #000,
    189px 7px 0 0 #000, 196px 7px 0 0 #000, 203px 7px 0 0 #000,
    210px 7px 0 0 #000, 217px 7px 0 0 #000, 224px 7px 0 0 #000,
    231px 7px 0 0 #000, 238px 7px 0 0 #000, 245px 7px 0 0 #000,
    252px 7px 0 0 #000, 259px 7px 0 0 #000, 266px 7px 0 0 #000,
    273px 7px 0 0 #000, 280px 7px 0 0 #000, 287px 7px 0 0 #000,
    294px 7px 0 0 #000, 301px 7px 0 0 #000, 308px 7px 0 0 #000,
    315px 7px 0 0 #000, 322px 7px 0 0 #000, 329px 7px 0 0 #000,
    336px 7px 0 0 #000, 343px 7px 0 0 #000, 350px 7px 0 0 #000,
    357px 7px 0 0 #000, 364px 7px 0 0 #000, 371px 7px 0 0 #000,
    378px 7px 0 0 #000, 385px 7px 0 0 #000, 392px 7px 0 0 #000,
    399px 7px 0 0 #000, 406px 7px 0 0 #000, 413px 7px 0 0 #000,
    21px 14px 0 0 #000, 28px 14px 0 0 #000, 35px 14px 0 0 #000,
    413px 14px 0 0 #000, 420px 14px 0 0 #000, 14px 21px 0 0 #000,
    21px 21px 0 0 #000, 28px 21px 0 0 #000, 413px 21px 0 0 #000,
    420px 21px 0 0 #000, 7px 28px 0 0 #000, 14px 28px 0 0 #000,
    413px 28px 0 0 #000, 420px 28px 0 0 #000, 7px 35px 0 0 #000,
    14px 35px 0 0 #000, 413px 35px 0 0 #000, 420px 35px 0 0 #000,
    7px 42px 0 0 #000, 14px 42px 0 0 #000, 413px 42px 0 0 #000,
    420px 42px 0 0 #000, 7px 49px 0 0 #000, 14px 49px 0 0 #000,
    413px 49px 0 0 #000, 420px 49px 0 0 #000, 7px 56px 0 0 #000,
    14px 56px 0 0 #000, 413px 56px 0 0 #000, 420px 56px 0 0 #000,
    7px 63px 0 0 #000, 14px 63px 0 0 #000, 413px 63px 0 0 #000,
    420px 63px 0 0 #000, 7px 70px 0 0 #000, 14px 70px 0 0 #000,
    413px 70px 0 0 #000, 420px 70px 0 0 #000, 7px 77px 0 0 #000,
    14px 77px 0 0 #000, 413px 77px 0 0 #000, 420px 77px 0 0 #000,
    7px 84px 0 0 #000, 14px 84px 0 0 #000, 413px 84px 0 0 #000,
    420px 84px 0 0 #000, 7px 91px 0 0 #000, 14px 91px 0 0 #000,
    399px 91px 0 0 #000, 406px 91px 0 0 #000, 413px 91px 0 0 #000,
    7px 98px 0 0 #000, 14px 98px 0 0 #000, 392px 98px 0 0 #000,
    399px 98px 0 0 #000, 406px 98px 0 0 #000, 14px 105px 0 0 #000,
    21px 105px 0 0 #000, 28px 105px 0 0 #000, 35px 105px 0 0 #000,
    42px 105px 0 0 #000, 49px 105px 0 0 #000, 56px 105px 0 0 #000,
    63px 105px 0 0 #000, 70px 105px 0 0 #000, 77px 105px 0 0 #000,
    84px 105px 0 0 #000, 91px 105px 0 0 #000, 98px 105px 0 0 #000,
    105px 105px 0 0 #000, 112px 105px 0 0 #000, 119px 105px 0 0 #000,
    126px 105px 0 0 #000, 133px 105px 0 0 #000, 140px 105px 0 0 #000,
    147px 105px 0 0 #000, 154px 105px 0 0 #000, 161px 105px 0 0 #000,
    168px 105px 0 0 #000, 175px 105px 0 0 #000, 182px 105px 0 0 #000,
    189px 105px 0 0 #000, 196px 105px 0 0 #000, 203px 105px 0 0 #000,
    210px 105px 0 0 #000, 217px 105px 0 0 #000, 224px 105px 0 0 #000,
    231px 105px 0 0 #000, 238px 105px 0 0 #000, 245px 105px 0 0 #000,
    252px 105px 0 0 #000, 259px 105px 0 0 #000, 266px 105px 0 0 #000,
    273px 105px 0 0 #000, 280px 105px 0 0 #000, 287px 105px 0 0 #000,
    294px 105px 0 0 #000, 301px 105px 0 0 #000, 308px 105px 0 0 #000,
    315px 105px 0 0 #000, 322px 105px 0 0 #000, 329px 105px 0 0 #000,
    336px 105px 0 0 #000, 343px 105px 0 0 #000, 350px 105px 0 0 #000,
    357px 105px 0 0 #000, 364px 105px 0 0 #000, 371px 105px 0 0 #000,
    378px 105px 0 0 #000, 385px 105px 0 0 #000, 392px 105px 0 0 #000,
    399px 105px 0 0 #000;
  height: 7px;
  width: 7px;
}

body {
  /*全体フォント*/
  font-family: 'Press Start 2P', 'DotGothic16', cursive;

  margin: 0 auto;
  width: 600px;
  /* pixel文字確認用 */
  /*display: flex;	*/
  /*flex-wrap: wrap;  */

  position: relative;
}

h3 {
  /* <p>の代替 CSSリセット */

  margin: 20px 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  outline: 0;
  vertical-align: baseline;
}
p {
  margin: 20px 0;

  /*invisibleに
	innerHTMLが入ってるためdisplaynone はダメ ?*/
}

/* innerHTML取得用pタグのみ選択(body直下,クラス持ち) */
body > p[class] {
  font-size: 25px;
  font-family: 'DotGothic16', cursive;
  display: inline-block;
  margin: 10px 0px;
}
/* ｢シ(15),ブ(39),ヤ(62)｣ オレンジへ */
body > p[class]:nth-child(15),
p[class]:nth-child(39),
p[class]:nth-child(62) {
  color: orange;
}

/* ------- */
/*  logo部 */
/* ------- */
.logo_upper {
  margin-top: -10px;
  margin-bottom: 60px;
  margin-left: -40px;

  position: relative;
  animation: anime 1s 0s infinite alternate;
}
.logo_middle {
  margin-left: 225px;
  margin-top: 80px;
}
.logo_lower {
  margin-top: -45px;

  position: relative;
  animation: anime 3s 0s infinite alternate;
}
.logo_upper p[id^='logo_'],
.logo_middle p[id^='logo_'],
.logo_lower p[id^='logo_'] {
  margin: 35px;
  display: inline-block;
}

#logo_record img {
    width: 85px;
    animation: rotate-anime 3s linear infinite;
  }

/* ------- */
/* input部 */
/* ------- */
div.input_part {
  margin-top: 115px;
  margin-left: 85px;
}
div.input_part > form {
  display: flex;
  flex-direction: column;
}
div.input_part > form > input[type='text'] {
  font-size: 40px;

  width: 360px;
  height: 77px;
  margin-top: -13px;
  margin-left: 45px;
  margin-bottom: 45px;

  padding-top: 5px;

  border: none;

  caret-color: transparent;
  font-family: 'DotGothic16', cursive;
  text-align: center;
}
div.input_part > form > input[type='text']:focus {
  outline-color: #fff;
  caret-color: #000;
}
div.input_part > form > input[type='text']:focus::placeholder {
  color: transparent;
}

div.input_part > form > button[type='submit'] {
  height: 50px;
  width: 350px;
  margin-top: 10px;
  margin-left: 40px;

  font-family: 'Press Start 2P', cursive;
  border: none;

  box-shadow: 5px 5px;
}
div.input_part > form > button[type='submit']:focus {
  outline-color: red;
}

/* ------- */
/*  警告文 */
/* ------- */
div.caution {
  margin-top: 30px;
}
div.caution > div.caution_sentence {
  background-color: #eee;
}
div.caution > div.caution_sentence > h3 {
  margin-left: 35px;
}
div.caution > div.caution_sentence > h3 > span {
  width: 20px;
  display: inline-block;
}

/* ------- */
/*  フッター  */
/* ------- */
footer a {
  text-decoration: none;
  border-bottom: 2px solid #05e55c;
  color: #05e55c;
  padding-bottom: 2px;
}

/* TEMP */
/* TEMP */
/* TEMP */
/*アイウエオ*/
/*
.ptc_a {
  box-shadow: 8px 8px 0 0 #000, 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 64px 8px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 56px 24px 0 0 #000, 32px 32px 0 0 #000, 56px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 24px 48px 0 0 #000, 32px 48px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_i {
  box-shadow: 56px 8px 0 0 #000, 64px 8px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 8px 40px 0 0 #000, 16px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_u {
  box-shadow: 32px 8px 0 0 #000, 40px 8px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 64px 32px 0 0 #000, 56px 40px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_e {
  box-shadow: 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_o {
  box-shadow: 40px 8px 0 0 #000, 40px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 8px 48px 0 0 #000, 16px 48px 0 0 #000, 24px 48px 0 0 #000, 40px 48px 0 0 #000, 8px 56px 0 0 #000, 40px 56px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*カキクケコ*/
/*
.ptc_ka {
  box-shadow: 32px 8px 0 0 #000, 40px 8px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 24px 48px 0 0 #000, 32px 48px 0 0 #000, 56px 48px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ki {
  box-shadow: 32px 8px 0 0 #000, 32px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 40px 48px 0 0 #000, 40px 56px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ku {
  box-shadow: 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 24px 32px 0 0 #000, 56px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ke {
  box-shadow: 24px 8px 0 0 #000, 24px 16px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 8px 40px 0 0 #000, 16px 40px 0 0 #000, 40px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 32px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ko {
  box-shadow: 8px 16px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*サシスセソ*/
/*
.ptc_sa {
  box-shadow: 24px 16px 0 0 #000, 48px 16px 0 0 #000, 24px 24px 0 0 #000, 48px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 40px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_si {
  box-shadow: 8px 8px 0 0 #000, 16px 8px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 64px 16px 0 0 #000, 40px 24px 0 0 #000, 64px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 64px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_su {
  box-shadow: 8px 16px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_se {
  box-shadow: 24px 8px 0 0 #000, 24px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 24px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 24px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_so {
  box-shadow: 16px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 56px 24px 0 0 #000, 24px 32px 0 0 #000, 56px 32px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 48px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*タチツテト*/
/*
.ptc_ta {
  box-shadow: 24px 8px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 8px 40px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ti {
  box-shadow: 40px 8px 0 0 #000, 48px 8px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 40px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 8px 40px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 32px 56px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_tu {
  box-shadow: 16px 8px 0 0 #000, 40px 8px 0 0 #000, 64px 8px 0 0 #000, 16px 16px 0 0 #000, 40px 16px 0 0 #000, 64px 16px 0 0 #000, 16px 24px 0 0 #000, 40px 24px 0 0 #000, 64px 24px 0 0 #000, 16px 32px 0 0 #000, 40px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 56px 40px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 48px 56px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_te {
  box-shadow: 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 40px 40px 0 0 #000, 40px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_to {
  box-shadow: 24px 8px 0 0 #000, 24px 16px 0 0 #000, 24px 24px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 24px 48px 0 0 #000, 48px 48px 0 0 #000, 24px 56px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ナニヌネノ*/
/*
.ptc_na {
  box-shadow: 40px 8px 0 0 #000, 40px 16px 0 0 #000, 40px 24px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 40px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ni {
  box-shadow: 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_nu {
  box-shadow: 8px 16px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 24px 48px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ne {
  box-shadow: 32px 8px 0 0 #000, 40px 8px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 24px 48px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000, 8px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_no {
  box-shadow: 56px 8px 0 0 #000, 56px 16px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 48px 32px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ハヒフヘホ*/
/*
.ptc_ha {
  box-shadow: 24px 16px 0 0 #000, 48px 16px 0 0 #000, 24px 24px 0 0 #000, 48px 24px 0 0 #000, 24px 32px 0 0 #000, 48px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 8px 48px 0 0 #000, 16px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 8px 56px 0 0 #000, 64px 56px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_hi {
  box-shadow: 16px 8px 0 0 #000, 24px 8px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 64px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 16px 48px 0 0 #000, 24px 48px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_hu {
  box-shadow: 8px 16px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_he {
  box-shadow: 24px 16px 0 0 #000, 32px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 64px 56px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ho {
  box-shadow: 32px 8px 0 0 #000, 40px 8px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 16px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 56px 40px 0 0 #000, 8px 48px 0 0 #000, 16px 48px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 8px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 64px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*マミムメモ*/
/*
.ptc_ma {
  box-shadow: 8px 16px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 56px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 24px 48px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_mi {
  box-shadow: 16px 8px 0 0 #000, 24px 8px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 16px 48px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_mu {
  box-shadow: 32px 8px 0 0 #000, 32px 16px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 24px 32px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 16px 48px 0 0 #000, 56px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_me {
  box-shadow: 48px 8px 0 0 #000, 48px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 48px 24px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 32px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_mo {
  box-shadow: 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 32px 16px 0 0 #000, 32px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 32px 40px 0 0 #000, 32px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ヤユヨ*/
/*
.ptc_ya {
  box-shadow: 8px 8px 0 0 #000, 8px 16px 0 0 #000, 16px 16px 0 0 #000, 64px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 8px 40px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 56px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 40px 56px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_yu {
  box-shadow: 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 56px 24px 0 0 #000, 56px 32px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 48px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_yo {
  box-shadow: 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 64px 8px 0 0 #000, 64px 16px 0 0 #000, 64px 24px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 64px 40px 0 0 #000, 64px 48px 0 0 #000, 64px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ラリルレロ*/
/*
.ptc_ra {
  box-shadow: 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 56px 40px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ri {
  box-shadow: 24px 16px 0 0 #000, 48px 16px 0 0 #000, 24px 24px 0 0 #000, 48px 24px 0 0 #000, 24px 32px 0 0 #000, 48px 32px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ru {
  box-shadow: 40px 8px 0 0 #000, 24px 16px 0 0 #000, 40px 16px 0 0 #000, 24px 24px 0 0 #000, 40px 24px 0 0 #000, 24px 32px 0 0 #000, 40px 32px 0 0 #000, 24px 40px 0 0 #000, 40px 40px 0 0 #000, 16px 48px 0 0 #000, 24px 48px 0 0 #000, 40px 48px 0 0 #000, 64px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 40px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000, 8px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_re {
  box-shadow: 24px 8px 0 0 #000, 24px 16px 0 0 #000, 24px 24px 0 0 #000, 24px 32px 0 0 #000, 24px 40px 0 0 #000, 64px 40px 0 0 #000, 24px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_ro {
  box-shadow: 8px 8px 0 0 #000, 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 64px 8px 0 0 #000, 8px 16px 0 0 #000, 16px 16px 0 0 #000, 24px 16px 0 0 #000, 32px 16px 0 0 #000, 40px 16px 0 0 #000, 48px 16px 0 0 #000, 56px 16px 0 0 #000, 64px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 8px 40px 0 0 #000, 16px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 8px 48px 0 0 #000, 16px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ワヰヱヲ*/
/*
.ptc_wa {
  box-shadow: 8px 8px 0 0 #000, 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 64px 8px 0 0 #000, 8px 16px 0 0 #000, 16px 16px 0 0 #000, 64px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 64px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 64px 32px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 56px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_wi {
  box-shadow: 48px 8px 0 0 #000, 48px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 24px 32px 0 0 #000, 48px 32px 0 0 #000, 24px 40px 0 0 #000, 48px 40px 0 0 #000, 8px 48px 0 0 #000, 16px 48px 0 0 #000, 24px 48px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 48px 56px 0 0 #000, 48px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_we {
  box-shadow: 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 64px 8px 0 0 #000, 64px 16px 0 0 #000, 40px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 40px 40px 0 0 #000, 40px 48px 0 0 #000, 8px 56px 0 0 #000, 16px 56px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 64px 56px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_wo {
  box-shadow: 8px 8px 0 0 #000, 16px 8px 0 0 #000, 24px 8px 0 0 #000, 32px 8px 0 0 #000, 40px 8px 0 0 #000, 48px 8px 0 0 #000, 56px 8px 0 0 #000, 64px 8px 0 0 #000, 64px 16px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 48px 24px 0 0 #000, 56px 24px 0 0 #000, 64px 24px 0 0 #000, 56px 32px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ンー*/
/*
.ptc_nn {
  box-shadow: 64px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 64px 24px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 64px 32px 0 0 #000, 64px 40px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_long {
  box-shadow: 64px 24px 0 0 #000, 8px 32px 0 0 #000, 16px 32px 0 0 #000, 24px 32px 0 0 #000, 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 8px 40px 0 0 #000, 16px 40px 0 0 #000, 24px 40px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ァィゥェォ*/
/*
.ptc_m_a {
  box-shadow: 32px 32px 0 0 #000, 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 48px 40px 0 0 #000, 64px 40px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 40px 56px 0 0 #000, 48px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_m_i {
  box-shadow: 56px 32px 0 0 #000, 64px 32px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 32px 56px 0 0 #000, 40px 56px 0 0 #000, 56px 56px 0 0 #000, 56px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_m_u {
  box-shadow: 48px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 32px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 48px 56px 0 0 #000, 56px 56px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_m_e {
  box-shadow: 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 48px 48px 0 0 #000, 48px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_m_o {
  box-shadow: 56px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 40px 56px 0 0 #000, 56px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 56px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ッ*/
/*
.ptc_m_tu {
  box-shadow: 32px 40px 0 0 #000, 48px 40px 0 0 #000, 64px 40px 0 0 #000, 32px 48px 0 0 #000, 48px 48px 0 0 #000, 64px 48px 0 0 #000, 64px 56px 0 0 #000, 56px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*ャュョ*/
/*
.ptc_m_ya {
  box-shadow: 40px 32px 0 0 #000, 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 64px 40px 0 0 #000, 40px 48px 0 0 #000, 64px 48px 0 0 #000, 40px 56px 0 0 #000, 56px 56px 0 0 #000, 40px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_m_yu {
  box-shadow: 32px 40px 0 0 #000, 40px 40px 0 0 #000, 48px 40px 0 0 #000, 56px 40px 0 0 #000, 56px 48px 0 0 #000, 56px 56px 0 0 #000, 32px 64px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
.ptc_m_yo {
  box-shadow: 40px 32px 0 0 #000, 48px 32px 0 0 #000, 56px 32px 0 0 #000, 64px 32px 0 0 #000, 64px 40px 0 0 #000, 40px 48px 0 0 #000, 48px 48px 0 0 #000, 56px 48px 0 0 #000, 64px 48px 0 0 #000, 64px 56px 0 0 #000, 40px 64px 0 0 #000, 48px 64px 0 0 #000, 56px 64px 0 0 #000, 64px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
/*バビブベボ(途中)*/
/*
.ptc_bu {
  box-shadow: 56px 8px 0 0 #000, 48px 16px 0 0 #000, 64px 16px 0 0 #000, 8px 24px 0 0 #000, 16px 24px 0 0 #000, 24px 24px 0 0 #000, 32px 24px 0 0 #000, 40px 24px 0 0 #000, 56px 24px 0 0 #000, 40px 32px 0 0 #000, 40px 40px 0 0 #000, 32px 48px 0 0 #000, 40px 48px 0 0 #000, 24px 56px 0 0 #000, 32px 56px 0 0 #000, 8px 64px 0 0 #000, 16px 64px 0 0 #000, 24px 64px 0 0 #000;
  height: 8px;
  width: 8px;
}
*/
